.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;

}

.logo {
  height: 5rem;
  /* margin-left: 25%; */
  max-height: 100%;
  padding-left: 1vw;
}

.name {
  /* margin-left: 10%; */
  width: 12rem;
  max-width: 100%;
}

@media (max-width: 770px) {
  .logoContainer {
    flex-direction: row;
    justify-content: space-around;
    padding-left: 2rem; 
  }


}