.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;

}

.logo {
  height: 5rem;
  /* margin-left: 25%; */
  max-height: 120%;
  padding-left: 1.5vw;
}

.name {
  /* margin-left: 10%; */
  width: 12rem;
  max-width: 130%;
  padding-left: 0vw;
}

@media (max-width: 1160px) {
  .logoContainer {
    flex-direction: row;
    justify-content: space-around;
    padding-left: 2rem;
  }
  .name {
    /* margin-left: 10%; */
    width: 12rem;
    max-width: 130%;
    padding-left: 0.3vw;
  }
}
@media (max-width: 760px) {
  
  .logoContainer {
    flex-direction: row;
    justify-content: space-around;
    padding-left: 2rem;
  }

  .name {
    /* margin-left: 10%; */
    width: 12rem;
    max-width: 130%;
    padding-left: 3vw;
  }

}